DATABASE_URL="mysql://root:Password1234_@db:3306/quiz"
JWT_SECRET="a_jwt_secret_key"
NODE_ENV="production"
LOG_LEVEL="silent"
CLOUDINARY_CLOUD_NAME=abcdefgha
CLOUDINARY_API_KEY=123456789012345
CLOUDINARY_API_SECRET=x8VqLm2Pz9KjYw4NbR7cFh5GdT3
RECAPTCHA_SECRET_KEY=9XkV_b3pMMMMMBR4WgJmL8HqTcYxDF2kVnS5cRtP
